<% if !@dropbox_file.errors.empty? %>
    <div class = "alert alert-error">
      <ul>
        <% @dropbox_file.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class = "well">
  <%= form_for @dropbox_file, html: { multipart: true } do |f| %>
      <%= f.label 'File' %>
      <%= f.file_field :attachment %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
