<div class="bd-example bd-example-tabs">
  <div class="dropbox-files"> <%= link_to 'Dropbox files', dropbox_files_list_path, class: 'btn btn-secondary' %> </div>
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <%= link_to 'All Users', show_path(tab_name: 'users'), remote: true, class: 'nav-link active', toggle: 'tab', target: 'users', 'data-toggle' => 'pill'%>
        <%= link_to 'Friends', show_path(tab_name: 'friends'), remote: true, class: 'nav-link', toggle: 'tab', target: 'friends', 'data-toggle' => 'pill' %>
        <%= link_to 'Friendship requests', show_path(tab_name: 'requested_friends'), remote: true, class: 'nav-link', toggle: 'tab', target: 'requested_friends', 'data-toggle' => 'pill' %>
        <%= link_to 'Pending requests', show_path(tab_name: 'pending_friends'), remote: true, class: 'nav-link', toggle: 'tab', target: 'pending_friends', 'data-toggle' => 'pill' %>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="v-pills-users-tab">
          <%= render 'friends/users'%>
        </div>

        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="v-pills-friends-tab">
        </div>

        <div class="tab-pane fade" id="requested_friends" role="tabpanel" aria-labelledby="v-pills-requests-tab">
        </div>

        <div class="tab-pane fade" id="pending_friends" role="tabpanel" aria-labelledby="v-pills-pending-tab">
        </div>
      </div>
    </div>
  </div>
</div>