<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div> <%= link_to 'Users and friends list', index_friends_path, class: 'btn btn-secondary' %> </div><br>
      </div>
    </div>
</div>
</div>

<div class="col">
<div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="v-pills-users-tab">
    <div class="users-title">
      <h2>My files</h2>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Share file with friend</th>
        <th scope="col"></th>
        <th scope="col">Preview</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <% if @user_data_files.any? %>
          <% @user_data_files.each do |f| %>
              <tr>
                <td><%= f.name %></td>
                <td><%= find_owner(f.owner_id).name %></td>
                <td><%= link_to 'Download', download_client_file_path(file_id: f.fid, owner_id: f.owner_id), class: 'btn btn-info' %><td>
                <td><%= render 'select_friend', share_file_id: f.id %><td>
                <td><%= link_to 'Public preview', share_file_link_path(file_id: f.fid, owner_id: f.owner_id), class: 'btn btn-warning' %><td>
                <% if f.owner_id == current_user.id %>
                    <td><%= link_to 'Delete', f, method: :delete, class: 'btn btn-danger', confirm: "Are you sure that you wish to delete #{f.name}?" %></td>
                <% else %>
                    <td>Shared</td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
</div>
  <div class="add-file-button"><%= link_to "Add File", new_dropbox_file_path, class: "btn btn-primary" %></div>
</div>

