<header>
  <nav class="navbar navbar-light">
    <div class="jumbotron-heading text-center"><h1><%= link_to 'Dropbox App', root_url, id: 'main-title' %></h1></div>

        <% if user_signed_in? %>
            <div><%= current_user.name %></div>
            <div><%= current_user.email %></div>
            <div><%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary .navbar-right" %></div>
            <div><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary .navbar-right" %></div>
        <% else %>
              <div><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary .navbar-right" %></div>
              <div><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary .navbar-right" %></div>
              <div><%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary .navbar-right" %></div>
              <div><%= link_to "Sign up with Twitter", user_twitter_omniauth_authorize_path, class: "btn btn-primary .navbar-right" %></div>
        <% end %>

  </nav>
  </div>
</header>